# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Dataset
dataset/

# Uploaded images
uploads/

# Reports
reports/

# Database
*.db

# Ignore old AI model
*.h5

# Ignore Keras model
*.keras